{
	"syntax": "postcss-scss",
	"plugins": ["stylelint-order"],
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-prettier"
	],
	"ignoreFiles": ["**/*.tsx", "**/*.html", "**/*.md"],
	"rules": {
		"selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
		"no-descending-specificity": null,
		"scss/no-global-function-names": null,
		"order/properties-order": [
			"position",
			"z-index",
			"top",
			"right",
			"bottom",
			"left"
		],
		"order/order": [
			"declarations",
			{ "type": "at-rule", "name": "media" },
			{ "type": "rule", "selector": "^&::(before|after)" },
			{ "type": "rule", "selector": "^&:\\w" },
			{ "type": "rule", "selector": "^&_" },
			{ "type": "rule", "selector": "^." }
		],
		"string-no-newline": null,
		"property-no-unknown": [
			true,
			{ "ignoreProperties": ["composes"] }
		],
		"selector-pseudo-class-no-unknown": [
			true,
			{ "ignorePseudoClasses": ["global"] }
		]
	}
}
