$white-100: #fff;
$dark-gray-100: #1c1d20;
$dark-gray-75: #1c1d20bf;
$dark-gray-45: #1c1d2073;
$accent-100: #00b2ff;
$accent-80: #0694d2;
$accent-60: #0b76a6;
$error-dark: #cb2020;
$error-light: #ee7676;
$form-background-gradient: linear-gradient(310deg, #eee 28%, #fff 72%);
$form-background-gradient-hover: linear-gradient(310deg, #fff 28%, #eee 72%);
