$form-font-family: $font-default-family;
$form-font-size: $base-font-size;
$form-line-height: $base-line-height;
$form-border-width: 0;
$form-border-radius: 2px;
$form-box-shadow: 0 4px 4px $accent-100;
$form-box-error-shadow: 0 4px 4px $error-dark;
$form-margin-vertical: 10px;
$form-margin-horizontal: auto;
$form-input-padding: 15px 5px 5px 15px;
$button-font-weight: 700;
$button-line-height: 1.5;
$button-border-width: 0;
$button-border-radius: 2px;
$button-padding-vertical: 5px;
$button-padding-horizontal: 40px;
