$base-vertical-padding: 30px;
$base-horizontal-padding: 0.75 * $base-vertical-padding;
$base-content-block-border: 3px solid $dark-gray-100;

%for-headings {
	position: relative;
	font-family: $font-heading-family;
	font-weight: $font-heading-weight;
	text-align: center;
	letter-spacing: 1px;
	width: 100%;
}

%for-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

body {
	background: $dark-gray-100;
	color: $white-100;
	font-family: $font-default-family;
}

a {
	text-decoration: none;
	color: $accent-100;
	transition: $base-transition;

	&:hover {
		color: $accent-80;
		transition: $base-transition;
	}
}

h1 {
	@extend %for-headings;

	text-shadow: 0 0 30px $dark-gray-100, 1px 1px 2px $dark-gray-100, 1px 1px 10px $dark-gray-100;
}

h3 {
	@extend %for-headings;
}

h4 {
	font-family: $base-font-family;
}

.w100 {
	width: 100vw;
}

.centered {
	text-align: center;
	width: 100%;
}

.hidden {
	display: none;
}

.notGame {
	@extend %for-wrap;

	background: url('./src/client/assets/images/hero.jpg') no-repeat fixed $dark-gray-100;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.contentWrap {
	@extend %for-wrap;

	width: 67vw;
	height: calc(100% - 2 * #{$base-vertical-padding});
	background: $dark-gray-75;
	border: $base-content-block-border;
	margin: 0 auto;
	padding: $base-vertical-padding $base-horizontal-padding;
	position: relative;
}

.contentWrapCenter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 50vw;
	background: $dark-gray-75;
	border: $base-content-block-border;
	margin: 3em auto;
	padding: 1em;
}

.userCard {
	display: flex;
	margin: 1% 0;
}

.userAvatar {
	width: 200px;
	position: relative;
	overflow: hidden;
	margin: $form-margin-vertical 0;
	border-radius: $form-border-radius;

	& img {
		width: 200px;
		height: 200px;
	}
}

.userData {
	padding-left: 2em;
	width: calc(100% - 200px - 2em);
}

.bottomMenuWrap {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: -$base-horizontal-padding;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background: $dark-gray-100;
}

.bottomMenuItem {
	padding: $form-margin-vertical 3 * $form-margin-vertical;

	& i {
		margin-right: 1em;
	}
}

.modal {
	position: fixed;
	overflow: hidden;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $dark-gray-75;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5em 1em;
	box-sizing: border-box;

	&.modalFade {
		animation: fade-in 1s 1 linear;
		animation-fill-mode: forwards;
		opacity: 0;
	}

	& > .modalOverlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	& > .modalBody {
		position: relative;
		z-index: 2;
		margin: 0 auto;
		background-color: $dark-gray-100;
		border: $base-content-block-border;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 100%;
		padding: $base-vertical-padding $base-horizontal-padding;
		color: $white-100;
	}

	& > .modalClose {
		position: absolute;
		z-index: 999999;
		top: 10px;
		right: 15px;
		color: $white-100;
		cursor: pointer;
		font-size: 1.25em;
		padding: 7px;
		background: $dark-gray-75;
		border: $base-content-block-border;
		border-radius: 50%;
		width: 42px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		text-align: center;

		&:hover {
			background: $accent-60;
		}
	}
}

@keyframes fade-in {
	0% {
		animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
